.text-center {
  text-align: center;
}
.at-list {
  margin: 1.875rem 0;
}
.at-form {
  margin-top: .9375rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.at-list__item-content {
  overflow: inherit;
  width: 100%;
}